/* W3 CSS Default Values */

  .h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(102, 9, 169);
  }

  .h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

    /* color gradient for text elements */
    background-image:linear-gradient(90deg,rgb(219, 71, 8),rgb(199, 21, 133),rgb(240, 173, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(199, 21, 133);
  }

  .h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

/* Tables */

  .table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: rgb(94, 2, 164);
  }

  .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .td{
    display: table-cell;
    vertical-align: inherit;
  }

/* Table spacing */

/*table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}*/

.thead th:nth-child(1) {
  width: 15%;
}

.thead th:nth-child(2) {
  width: 25%;
}

.thead th:nth-child(3) {
  width: 25%;
}

.thead th:nth-child(4) {
  width: 25%;
}

.th,
.td {
  padding: 20px;
}

/* Illustrations */

.img {
  display: inline-block;
}

/* Responsive iframes */

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .blockquote{
    color:linear-gradient(90deg,rgb(219, 71, 8),rgb(199, 21, 133),rgb(240, 173, 30));
  }